.all-items {
  margin: 5.5rem 5.5rem;
}

.navbar {
  background: rgb(0, 118, 198);
  background: linear-gradient(
    90deg,
    rgba(0, 118, 198, 1) 0%,
    rgba(0, 118, 198, 1) 53%,
    rgba(247, 247, 247, 1) 100%
  );
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
}

.class-tech-span {
  border: 1.7px;
  border-radius: 4px;
  border-style: solid;
  padding: 5px 5px;
  transition: 300ms ease;
  margin-left: 15px;
}

.brand-icon {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 25px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-left: 12rem;
  transition: 200ms ease;
}

.nav-item:hover {
  transform: scale(1.1);
}

.carousel {
  width: 50rem;
  height: 75rem;
  /* margin: 40px 50px; */
}

.carousel-inner {
  border-radius: 15px;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33.5rem;
}

.container-grid-header {
  font-size: 70px;
}

.class-tech-employees {
  margin-bottom: 5.5rem;
}

.class-tech-image {
  height: 50.2rem;
  width: 118.9rem;
  object-fit: cover;
  position: relative;
  filter: brightness(40%) blur(1.6px);
}

.class-tech-h1 {
  font-size: 75px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.class-tech-button {
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
}
